<ion-header>
  <ion-navbar>
    <ion-title>ログイン</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form class="login-form" (ngSubmit)="login()">
    <ion-item>
      <ion-label stacked>メールアドレス</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="credentials.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>パスワード</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="credentials.password"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>ログイン</button>
  </form>

</ion-content>
