
<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ホーム</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="user-profile">
    <img class="avatar-lg" src="assets/images/user.png">
    <div>東京　一郎</div>
  </section>
  <section class="list-header">
    <span>グループ一覧</span>
    <button ion-button small="true" icon-left [navPush]="tabsPage">
      <ion-icon name="add"></ion-icon>
      グループ追加
    </button>
  </section>
  <ion-list>
    <ion-item [navPush]="tabsPage">
      <ion-avatar item-left>
        <img src="assets/images/user.png">
      </ion-avatar>
      <h3>グループ１</h3>
      <div>
        <img class="avatar-sm" src="assets/images/user.png">
        <img class="avatar-sm" src="assets/images/user.png">
        <img class="avatar-sm" src="assets/images/user.png">
        <img class="avatar-sm" src="assets/images/user.png">
      </div>
      <p class="text-right">最終更新日 2017/02/10</p>
    </ion-item>
  </ion-list>
</ion-content>

