.avatar-lg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.avatar-sm {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.user-profile {
  text-align: center;
  margin-top: 20px;
  img {
    margin-bottom: 5px;
  }
}
.text-right {
  text-align: right;
}

.list-header {
  margin-top: 20px;
  > span {
    margin: 10px 0 0 10px;
    display: inline-block;

  }
  button {
    float: right;
    margin-right: 10px;
  }

}