<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon ios="ios-grid-outline" md="md-grid"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let article of articles">
    <div *ngFor="let content of article.contents">
      <img *ngIf="content.type === 'image'" src="{{content.imageUrl}}" (click)="openPreview(article.contents)">
      <ion-card-content *ngIf="content.type === 'text'">
        {{content.text}}
      </ion-card-content>
    </div>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>いいね</div>
        </button>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>コメントする</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only clear>
          <ion-icon name="navigate"></ion-icon>
        </button>
        <button ion-button icon-only clear>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
