<ion-header>
  <ion-navbar>
    <ion-title>設定</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">アカウント設定</ion-item-divider>
    <button ion-item [navPush]="notificationsPage">通知設定</button>
    <button ion-item>メールアドレス変更</button>
    <button ion-item>パスワード変更</button>
    <ion-item-divider color="light">アカウントアクション</ion-item-divider>
    <ion-item>キャッシュをクリア</ion-item>
    <ion-item-divider color="light">その他</ion-item-divider>
    <button ion-item>利用規約</button>
    <button ion-item>プライバシーポリシー</button>
    <button ion-item>著作権情報</button>
    <button ion-item>現在のバージョン</button>
    <button ion-item>退会</button>
  </ion-item-group>
</ion-content>
