<ion-menu [content]="rootNav">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item menuClose>
        <img src="assets/images/parts/icon-infoSystem@2x.png" width="24" height="28">
        <span>Wepageからのお知らせ</span>
      </ion-item>
      <ion-item menuClose (click)="open(settingsPage)">
        <img src="assets/images/parts/icon-setting@2x.png" width="24" height="28">
        <span>設定</span>
      </ion-item>
      <ion-item menuClose>
        <img src="assets/images/parts/icon-introduce@2x.png" width="24" height="28">
        <span>このアプリを紹介する</span>
      </ion-item>
      <ion-item menuClose>
        <img src="assets/images/parts/icon-qr@2x.png" width="24" height="28">
        <span>グループのQRコードを読み取る</span>
      </ion-item>
      <ion-item menuClose>
        <img src="assets/images/parts/icon-support@2x.png" width="24" height="28">
        <span>使い方</span>
      </ion-item>
      <ion-item menuClose (tap)="logout()">
        <img src="assets/images/parts/icon-logout@2x.png" width="24" height="28">
        <span>ログアウト</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #rootNav [root]="rootPage"></ion-nav>
