<ion-header>
  <ion-navbar>
    <ion-title>通知設定</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <ion-label>プッシュ通知</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item-divider color="light">プッシュに関する項目</ion-item-divider>
    <ion-item>
      <ion-label>新規投稿</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>投稿内容更新</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>グループ名変更</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>ページ追加</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>ページ名変更</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>いいね！</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>コメント</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>メンバー追加</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>自主退会</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>メンバー削除</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>URLパスワード変更</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Wepageからのお知らせ</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
  </ion-item-group>

</ion-content>
