<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>プレビュー</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor="let content of contents">
      <img src="{{content.imageUrl}}" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
